body {
background-color : lightblue;
padding: 0%;
font-family: "Merriweather", serif;
margin: 0%;
color: black;
text-align: center;
}

#encabezado {
background-color : white;
border-radius: 50px;
width: 80%;
display: inline-block;
margin: 0%;
box-shadow: 63px 55px 57px 6px rgba(6,98,237,0.73);
-webkit-box-shadow: 63px 55px 57px 6px rgba(6,98,237,0.73);
-moz-box-shadow: 63px 55px 57px 6px rgba(6,98,237,0.73);

}